.title {
  text-align: center;
}

.Heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
}

.watchListButton {
  margin-left: 30px !important;
  height: 40px !important;
}
