.banner {
  background-image: url("./banner2.jpg");
}

.bannerContainer {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 25px;
}

.tagline {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.carousel {
  height: 50%;
  display: flex;
  align-items: center;
}
